*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}

.slider{
    margin: 0 20px;
    width: 900px;
    display: flex;
    overflow-x: scroll;
    scrollbar-color: #121212;
    gap:20px;
    scroll-snap-type: x mandatory;
    overflow: -moz-hidden-unscrollable;
    box-shadow: 0 0 80px #141414;
    border-radius: 10px;
    /* color: #121212; */
}

.slider ::-webkit-scrollbar{
    width: 0;
}

.item img{
    display: block;
    height: 250px;
    width:250px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.item{
    scroll-snap-align: start;
    width: 250px;
    height: 250px;
    pointer-events: none;
    user-select: none;
    
}

.details{
    background: rgba(2, 2, 2, 0.8);
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    padding: 150px 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    cursor: pointer;
}

.its:hover .details{
    top: 0;
}